{% extends 'base.html' %} {% block title %} Contact {% endblock %} {% block container %}
<div class="container mb-5">
    <h1 class="text-center mb-4 mt-4">Contact</h1>
    <hr />

    <p>
        Thank you for visiting my contact page. I do not provide a contact form on this page, but you can still reach me
        through my social media accounts. Please visit my social media accounts to provide feedback, suggestions, or
        questions related to the services I provide. I will be happy to hear from you and will respond to your message
        as soon as possible. Thank you for your visit and I hope to provide you with the best service possible.
    </p>

    <div class="row">
        <div class="col-12">
            <div class="text-center mb-3">You can contact me here:</div>
            <div class="contact d-flex gap-4 justify-content-center socials">
                <div class="d-flex flex-column justify-content-center">
                    <a
                        data-bs-toggle="tooltip"
                        data-bs-placement="top"
                        data-bs-custom-class="custom-tooltip"
                        data-bs-title="M Khaidar"
                        target="_blank"
                        href="https://facebook.com/haidar038"
                    >
                        <img src="{{ url_for('static', filename='img/svg/Facebook.svg' ) }}" alt="" />
                    </a>
                </div>
                <div class="d-flex flex-column justify-content-center">
                    <a
                        data-bs-toggle="tooltip"
                        data-bs-placement="top"
                        data-bs-custom-class="custom-tooltip"
                        data-bs-title="haidar038@gmail.com"
                        target="_blank"
                        href="https://mail.google.com/mail/?view=cm&fs=1&to=haidar038@gmail.com"
                    >
                        <img src="{{ url_for('static', filename='img/svg/Google.svg' ) }}" alt="" />
                    </a>
                </div>
                <div class="d-flex flex-column justify-content-center">
                    <a
                        data-bs-toggle="tooltip"
                        data-bs-placement="top"
                        data-bs-custom-class="custom-tooltip"
                        data-bs-title="M. Khaidar"
                        target="_blank"
                        href="https://www.linkedin.com/in/haidar038/"
                    >
                        <img src="{{ url_for('static', filename='img/svg/LinkedIn.svg' ) }}" alt="" />
                    </a>
                </div>
                <div class="d-flex flex-column justify-content-center">
                    <a
                        data-bs-toggle="tooltip"
                        data-bs-placement="top"
                        data-bs-custom-class="custom-tooltip"
                        data-bs-title="Eternal Code"
                        target="_blank"
                        href="https://twitter.com/etercode_"
                    >
                        <img src="{{ url_for('static', filename='img/svg/Twitter.svg' ) }}" alt="" />
                    </a>
                </div>
                <div class="d-flex flex-column justify-content-center">
                    <a
                        data-bs-toggle="tooltip"
                        data-bs-placement="top"
                        data-bs-custom-class="custom-tooltip"
                        data-bs-title="M. Khaidar"
                        target="_blank"
                        href="https://instagram.com/m.haidar___30"
                    >
                        <img src="{{ url_for('static', filename='img/svg/Instagram.svg' ) }}" alt="" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<script
    async
    src="https://code.jquery.com/jquery-3.6.4.min.js"
    integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
    crossorigin="anonymous"
></script>

{% endblock %}
