{% extends 'base.html' %}

{% block title %}
Privacy Policy
{% endblock %}

{% block container %}

<div class="container mb-5">
    <h1 class="text-center mb-4 mt-4">Privacy Policy</h1>
    <hr />

    <p>
        This Privacy Policy describes how we collect, use, and share information about you when you use our website. By accessing or using
        our website, you agree to this Privacy Policy.
    </p>
    <strong class="text-decoration-underline link-underline-primary fs-5">Information We Collect</strong>
    <p class="m-0">We may collect information about you when you use our website. This information may include:</p>
    <ul>
        <li>
            Personal Information: We may collect personal information such as your name and email address when you submit a contact form or
            sign up for our newsletter.
        </li>
        <li>
            Usage Information: We may collect usage information such as your IP address, browser type, and operating system when you use our
            website.
        </li>
        <li>Cookies: We may use cookies to collect information about your use of our website.</li>
    </ul>
    <strong class="text-decoration-underline link-underline-primary fs-5">How We Use Information</strong>
    <p class="m-0">We may use the information we collect about you to:</p>
    <ul>
        <li>Provide, maintain, and improve our website.</li>
        <li>Send you newsletters, marketing communications, and other information related to our website.</li>
        <li>Respond to your inquiries and provide customer support.</li>
        <li>Analyze and monitor usage of our website.</li>
    </ul>
    <strong class="text-decoration-underline link-underline-primary fs-5">Information Sharing</strong>
    <p class="m-0">We may share information about you in the following circumstances:</p>
    <ul>
        <li>With third-party service providers who help us operate and maintain our website.</li>
        <li>With law enforcement or other governmental officials, in response to a subpoena, court order, or other legal process.</li>
        <li>
            When we believe in good faith that disclosure is necessary to protect our rights, protect your safety or the safety of others,
            investigate fraud, or respond to a government request.
        </li>
        <li>In connection with a merger, acquisition, or sale of all or a portion of our assets.</li>
    </ul>
    <strong class="text-decoration-underline link-underline-primary fs-5">Data Security</strong>
    <p>
        We take reasonable measures to protect your personal information from loss, theft, misuse, and unauthorized access, disclosure,
        alteration, and destruction.
    </p>
    <strong class="text-decoration-underline link-underline-primary fs-5">Changes to Privacy Policy</strong>
    <p>
        We may update this Privacy Policy from time to time. We encourage you to review this Privacy Policy periodically to stay informed
        about our information practices.
    </p>
    <strong class="text-decoration-underline link-underline-primary fs-5">Contact Us</strong>
    <p>If you have any questions or concerns about our Privacy Policy, please contact us at haidar038@gmail.com</p>
</div>

{% endblock %}
